<%- include('../layouts/homeheader', { categories: categories }) %>

<body>
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-color: white">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="/login" role="tab" aria-controls="signin-2" aria-selected="true">Login</a>
                        </li>
                        <!-- Uncomment if you have a Register tab -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="register-tab-2" data-toggle="tab" href="/register" role="tab" aria-controls="register-2" aria-selected="false">Register</a>
                        </li> -->
                    </ul>
                    <!-- Login -->
                    <% if (typeof message !== 'undefined' && message) { %>
                        <div class="alert alert-info msg text-center mt-1">
                            <%= message %>
                        </div>
                    <% } %>
                    <form action="/login" method="post" id="loginId">
                        <div class="form-group mt-3">
                            <label for="singin-email-2">Email address *</label>
                            <input type="text" class="form-control" id="email" name="email" >
                            <div id="error1" class="error-message"></div>
                        </div><!-- End .form-group -->

                        <div class="form-group">
                            <label for="singin-password-2">Password *</label>
                            <input type="password" class="form-control" id="password" name="password" >
                            <div id="error2" class="error-message"></div>
                        </div><!-- End .form-group -->

                        <div class="form-footer">
                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>LOG IN</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                                <!-- <label class="custom-control-label" for="signin-remember-2">Remember Me</label> -->
                            </div><!-- End .custom-checkbox -->
                            <a href="/forgotpass" class="forgot-link">Forgot Your Password?</a>
                        </div><!-- End .form-footer -->
                    </form>
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page -->
</body>

<%- include('../layouts/homefooter') %>
