<!DOCTYPE html>
<html lang="en">
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 4;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 300px;
}

.card {
    background-color: white;
    padding: 50px 90px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.card hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.card p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Password Changed</h1>
            <hr>
            <p>Your password is now changed , you can login now</p>
        </div>
    </div>
</body>
</html>
